<div class="sidebar" [class.collapsed]="!isOpen()">
    <nav class="nav-menu">
        <a routerLink="/characters" routerLinkActive="active" class="nav-item">
            <i class="bi bi-people"></i>
            <span class="nav-text">Characters</span>
        </a>
        <a routerLink="/locations" routerLinkActive="active" class="nav-item">
            <i class="bi bi-geo-alt"></i>
            <span class="nav-text">Locations</span>
        </a>
        <a routerLink="/episodes" routerLinkActive="active" class="nav-item">
            <i class="bi bi-film"></i>
            <span class="nav-text">Episodes</span>
        </a>
    </nav>
</div>